language: node_js

node_js:
  - '7'
  - '6'

cache:
  directories: node_modules

branches:
  only: master

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable xvfb

os:
  - linux
  - osx

sudo: required
osx_image: xcode8.2
dist: trusty
jdk: oraclejdk8

before_install:
  - "export DISPLAY=':99.0'"
  - if [[ "${TRAVIS_OS_NAME}" == "osx" ]]; then export HOMEBREW_CASK_OPTS='--appdir=/Applications' ; fi
  - if [[ "${TRAVIS_OS_NAME}" == "osx" ]]; then brew update          ; fi
  - if [[ "${TRAVIS_OS_NAME}" == "osx" ]]; then brew cask install google-chrome ; fi
  - if [[ "${TRAVIS_OS_NAME}" == "osx" ]]; then ( sudo Xvfb :99 -ac -screen 0 1024x768x8; echo ok )& fi
  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16" ; fi
  - sleep 5

install:
  - npm install
  - npm i -g npm@latest
  - npm -v
  - npm i -g gulp@latest

script:
  - npm test
